<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Document</title>
</head>
<body>
    <div class="topnav">
        <a href="">Home</a>
        <a href="">News</a>
        <a href="">Contact</a>
        <a href="">About</a>
    </div>
    <h1>hello world from ejs</h1>
    <img src="/images/xinhne.jpg" alt="">
    <h1>List user</h1>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Action</th>
              </tr>
        </thead>
        <tbody>
                <% for(let i=0;i < datauser.length;i++) {%>
                    <tr>
                        <th><%= datauser[i].Name %></th>
                    <th><%= datauser[i].Email %></th>
                    <th><a href='/info/<%= datauser[i].Id %>' target="_blank">detail </a> 
                        <button>add </button> 
                        <button>delete</button> </th>
                    </tr>
                    <% }%>
           
        </tbody>
       
      </table>
   
    
</body>
</html>
<!--npm i ejs-->